<!DOCTYPE html>
{% load staticfiles %}
<html>
<body>
    <h1>Rango says...</h1>
    <div>
        here is the about page. <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <a href="/rango/">index</a><br />
    </div>
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
</div>
<div>
        <p>This tutorial has been put together by <strong>Adviye Selin Kaseler</strong>.</p>
    </div>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
</body>
</html>