{% extends 'rango/base.html' %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <h1>{{ category.name }}</h1>

    {% if user.is_authenticated %}
        <p><a href="{% url 'rango:add_page' category.slug %}">Add a Page</a></p>
    {% endif %}

    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages found.</p>
    {% endif %}

{% endblock %}
